.holder {
  display: flex;
  height: 100px;
  max-width: 600px;
  flex-wrap: wrap;
  border: 2px solid black;
  border-radius: 13px 13px 0px 0px;
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: black;
}

.item-1 {
  order: 1;
  flex-basis: 50%;
  background-color: red;
  border-radius: 9px 0 0 0;
}

.item-5 {
  order: 2;
  flex-basis: 50%;
  background-color: orange;
  border-radius: 0 9px 0 0;
}

.item-3 {
  order: 3;
  flex-basis: calc(100% / 3);
  background-color: purple;
}

.item-2 {
  order: 4;
  flex-basis: calc(100% / 3);
  background-color: rgb(68, 68, 233);
}

.item-4 {
  order: 5;
  flex-basis: calc(100% / 3);
  background-color: green;
}
